//----------------------------------------------------------------------
// VARIABLE TAG
//----------------------------------------------------------------------
$row: 1180px;
$row_980: 980px;
//BODY COLOR //BODY SIZE //BODY BACKGROUND
$color: #ed464b;
$size: 14px;
$background: #fff;

//LINK COLOR
$link: $a;

//BUTTONS COLOR
$btn: #eb2028;

//MENU COLOR
$menu: #333;

//SOCIAL MEDIA COLOR
$facebook: #3b5993;
$twitter: #55acee;
$instagram: #181818;
$linkedin: #0177b5;
$google_plus: #d94733;
$pinterest: #bd1e23;
$youtube: #f80000;
$vimeo: #1ab7ea;

//DEFAUL FONTS
$regular: 'TTNorms-ExtraBold', Helvetica, Arial, sans-serif;
//DEFAULT ITALIC FONT
$italic: 'font_italic', Helvetica, Arial, sans-serif;
//DEFAULT BOLD FONT
$bold: 'font_bold', Helvetica, Arial, sans-serif;

//----------------------------------------------------------------------
// ALL FILE
//----------------------------------------------------------------------
@import 'components/reset';
@import 'components/font';
@import 'components/libs';
@import 'components/mixins';




