@import 'components/mixins';
//----------------------------------------------------------------------
// CSS DOCUMENT
//----------------------------------------------------------------------


header {
  position: relative;
  #logo {

  }
  nav{
    ul{
      > li{
        > a{

        }
      }
    }
  }
}
































footer {
  padding: 20px 0;
  background: #212122;
}
@media screen and (max-width: 320px) {

}
@import "/igor/igor";